@media (min-width:0px) and (max-width:600px){
    body{
        padding:0px;
        margin:0px;
        border:none;
    }
    #navbar{
        box-shadow:5px 0px 10px rgb(44, 44, 44);
        top:0px;
        left:0px;
        position:fixed;
        width:100px;
        height:100vh;
        color:rgba(0, 128, 255, 0.734);
        background-color:white;
    }
    
    #navbar div span{
        margin-bottom:10px;
        padding-left:5px;
        padding-top:5px;
        font-size:13px;
    }
    #navbar img{
        border-radius:18px;
        margin:5px 0px 0px 15px;
        width:60px;
        height:100px;
    }
    #navbar div a{
        border:none;
        text-decoration:none;
        color:black;
        margin-bottom:20px;
        font-family:Times;
        font-size:13px;
        font-weight:550;
        scroll-behavior:smooth;
    }
    
    #navbar hr{
        width:80px;
        margin:0 auto;
        height:2px;
        background-color:rgb(0, 149, 255);
        border:none;
    }
    #navbar div{
        border-radius:10px;
        margin-bottom:10px;
    }
    #navbar div:hover{
        background-color:rgb(193, 190, 190);
        cursor:pointer;
    }
    #navbar div a:active{
        color:rgb(0, 149, 255);
    }
    #page1,#page2,#page3,#page5{
        margin-left: 100px;
        margin-bottom:5px;

    }
    #page1{
        padding-top:10px;
        background-color:rgb(38, 139, 240);
        padding-right:30px;
        color:White;
        height:100vh;
    }
    .front{
        color:darkblue;
        font-weight:bold;
        padding-left:5px;
    }
    #page1 p{
        font-size:13px;
        font-weight:550;
        font-family:Times;
    }
    .seperate{
        background-color:darkblue;
    }
    #read,#contact{
        text-decoration:none;
        font-size:13px;
        font-weight:550;
        width:80px;
        height:30px;
        border-radius:10px;
        background-color:rgb(38, 139, 240);
        color:white;
        border-color:white;
        box-shadow:1px 1px 1px white;
    }
    #page1 .paras a{
        scroll-behavior:smooth;
    }
    #contact{
        margin-left: 10px;
    }
    #read:hover, #contact:hover{
        background-color:white;
        color:rgb(38, 139, 240);
        box-shadow:1px -1px 3px white;
    }
    .heading{
        height:70px;
        background-color:rgb(38, 139, 240);
        display:flex;
        align-items:center;
        font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    }
    .heading h1{
        font-size:30px;
        padding-left:30px;
    }
    #page1 .paras,#page2 .paras,#page4 .paras{
        padding-left:30px;
        font-family:Times;
    }
    #page2 .paras{
        padding-right:10px;
        font-weight:550;
        font-size:12px;
    }
    #page2 .paras p b{
        color:rgb(191, 80, 80);
    }
    #page2{
        padding-bottom:10px;
        height:100vh;
    }
    #page3 .paras{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
    }
    #first,#second{
        width:300px;
        box-shadow:5px 7px 10px rgb(72, 72, 72);
        margin-top:30px;
        padding:3px;
        margin-left:15px;
    }
    #first h3,#second h3{
        text-align:center;
        color:rgb(38, 139, 240);
        margin-top:20px;
        font-size:16px;
    }
    #first sub,#second sub{
        padding-left:20px;
    }
    #first p,#second p{
        font-weight:550;
        font-size:13px;
    }
    #first ul li,#second ul li{
        font-weight:550;
        font-size:13px;
    }
    #first p b,#second p b{
        color:rgb(191, 80, 80);
    }
    #page3{
        padding-bottom:30px;
    }
    #page4{
        margin-left:100px;
        margin-bottom:10px;
    }
    #languages,#databases,#others{
        display:block;
        box-shadow:-5px -7px 10px rgb(72, 72, 72);
        margin-left:5px;
        margin-top:30px;
    }
    #lang{
        display:flex;
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
    }
    #data div{
        text-align:center;
        padding-bottom: 10px;
    }
    #data div p{
        margin-left:20px;
    }
    #other{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
    }
    #lang div,#data div,#other div{
        display:block;
        margin-right:15px;
        margin-top:20px;
        font-weight:550;
        font-size:13px;
    }
    #lang div,#other div{
        text-align:center;
    }
    #lang div img,#other div img{
        width:50px;
        height:50px;
    }
    #data div img{
        width:70px;
        height:70px;
    }
    #languages hr,#databases hr,#others hr{
        height:2px;
        background-color:rgb(38, 139, 240);
        border:none;
    }
    #languages h3,#databases h3,#others h3{
        font-size:20px;
        color:rgb(191, 80, 80);
        padding-left:35px;
        padding-top:25px;
    }
    #page5{
        height:100vh;
    }
    #page5 p{
        font-size:13px;
        font-weight:550;
        padding-left:35px;
        padding-right:10px;
    }
    #page6{
        background-color:rgb(38, 139, 240);
        color:white;
        margin-left:100px;
        height:60vh;
    }
    #page6 div{
        display:flex;
        flex-direction:row;
        font-family:Times;
        font-size:16px;
        font-weight:550;
    }
    #page6 div a{
        display:flex;
        flex-direction:row;
        font-family:Times;
        font-size:15px;
        font-weight:600;
        text-decoration:none;
    }
    #page6 div a span{
        color:white;
    }
    #page6 div p{
        padding-left:10px;
        padding-left:10px;
        color:black;
    }
    #page6 div a p{
        padding-left:10px;
        padding-left:10px;
        color:black;
        text-decoration:none;
    }
    #page6 div span{
        padding-top:20px;
        padding-left:30px;
    }
}
@media(min-width:600px) and (max-width:1366px){
body{
    padding:0px;
    margin:0px;
    border:none;
}
#navbar{
    box-shadow:5px 0px 10px rgb(44, 44, 44);
    top:0px;
    left:0px;
    position:fixed;
    width:200px;
    height:100vh;
    color:rgba(0, 128, 255, 0.734);
    font-size:19px;
    background-color:white;
}

#navbar div span{
    margin-bottom:20px;
    padding-left:10px;
    padding-top:10px;
}
#navbar img{
    border-radius:25px;
    margin:20px 60px 0px 40px;
    width:100px;
    height:150px;
}
#navbar div a{
    border:none;
    text-decoration:none;
    color:black;
    padding-left:5px;
    margin-bottom:20px;
    font-family:Times;
    font-size:19px;
    padding-top:10px;
    height:40px;
    padding-right:50px;
    scroll-behavior:smooth;
}

#navbar hr{
    width:180px;
    margin:0 auto;
    height:2px;
    background-color:rgb(0, 149, 255);
    border:none;
}
#navbar div{
    border-radius:10px;
}
#navbar div:hover{
    background-color:rgb(193, 190, 190);
    cursor:pointer;
}
#navbar div:hover a{
    background-color:rgb(193, 190, 190);
    cursor:pointer;
}
#navbar div a:active{
    color:rgb(0, 149, 255);
}
#page1,#page2,#page3,#page5{
    margin-left: 200px;
    margin-bottom:5px;
}
#page1{
    padding-top:10px;
    background-color:rgb(38, 139, 240);
    padding-right:200px;
    color:White;
    height:100vh;
}
#page1 h1{
    font-size:40px;
}
.front{
    color:darkblue;
    font-weight:bold;
    padding-left:5px;
}
#page1 p{
    font-size:19px;
    font-family:Times;
}
.seperate{
    background-color:darkblue;
}
#read,#contact{
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    width:100px;
    height:40px;
    border-radius:10px;
    background-color:rgb(38, 139, 240);
    color:white;
    border-color:white;
    box-shadow:1px 1px 1px white;
}
#contact{
    margin-left: 20px;
}
#read:hover, #contact:hover{
    background-color:white;
    color:rgb(38, 139, 240);
    box-shadow:1px -1px 3px white;
}
.heading{
    height:100px;
    background-color:rgb(38, 139, 240);
    display:flex;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}
.heading h1{
    font-size:40px;
    padding-left:50px;
}
#page1 .paras,#page2 .paras,#page4 .paras{
    padding-left:100px;
    font-family:Times;
}
#page2 .paras{
    padding-right:150px;
    font-size:19px;
    font-weight:400;
}
#page2 .paras p b{
    color:rgb(191, 80, 80);
}
#page2{
    padding-bottom:100px;
}
#page3 .paras{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:start;
}
#first,#second{
    width:400px;
    box-shadow:5px 7px 10px rgb(72, 72, 72);
    margin-top:50px;
    padding:3px;
    margin-left:100px;
}
#first h3,#second h3{
    text-align:center;
    color:rgb(38, 139, 240);
    font-size:20px;
    margin-top:20px;
}
#first sub,#second sub{
    padding-left:40px;
}
#first p,#second p{
    font-size:16px;
    font-weight:600;
}
#first ul li,#second ul li{
    font-weight:550;
}
#first p b,#second p b{
    color:rgb(191, 80, 80);
}
#page3{
    padding-bottom:90px;
}
#page4{
    margin-left:200px;
    margin-bottom:10px;
}
#languages,#databases,#others{
    display:block;
    box-shadow:5px 7px 10px rgb(72, 72, 72);
    margin-left:30px;
    margin-right:30px;
    margin-bottom:50px;
    overflow:hidden;
    overflow-x:scroll;
}
#lang{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#data div{
    margin-left:50px;
    padding-bottom: 10px;
}
#data div p{
    margin-left:20px;
}
#other{
    display:flex;
    flex-direction:row;
    justify-content:start;
    margin-left:50px;
}
#lang div,#data div,#other div{
    display:block;
    margin-right:100px;
    margin-top: 50px;
    font-size:17px;
    font-weight:550;
}
#lang div,#other div{
    text-align:center;
}
#lang div img,#other div img{
    width:70px;
    height:70px;
}
#data div img{
    width:100px;
    height:100px;
}
#languages hr,#databases hr,#others hr{
    height:2px;
    background-color:rgb(38, 139, 240);
    border:none;
}
#languages h3,#databases h3,#others h3{
    font-size:23px;
    color:rgb(191, 80, 80);
    padding-left:50px;
    padding-top:25px;
}
#page5 p{
    font-size:19px;
    font-weight:550;
    padding-left:50px;
    padding-right:200px;
    padding-bottom: 500px;
}
#page6{
    background-color:rgb(38, 139, 240);
    color:white;
    margin-left:200px;
    height:500px;
}
#page6 div{
    display:flex;
    flex-direction:row;
    font-family:Times;
    font-size:20px;
    font-weight:550;
}
#page6 div a{
    display:flex;
    flex-direction:row;
    font-family:Times;
    font-size:20px;
    font-weight:550;
    text-decoration:none;
}
#page6 div p{
    padding-left:10px;
    padding-left:50px;
    color:black;
}
#page6 div a p{
    padding-left:10px;
    padding-left:50px;
    color:black;
    text-decoration:none;
}
#page6 div span{
    padding-top:20px;
    padding-left:50px;
}
#page6 div a span{
   color:white;
}
}
